.header {
  background-color: #262D33;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .menu-item a {
  text-decoration: none;
  color: #ffff;
  padding: 0 15px 0 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656b70;
  border-radius: 10px;
  padding: 10px 10px;
}

.search-form input::-webkit-input-placeholder {
  color: #ada4a4;
}

.search-form input:-ms-input-placeholder {
  color: #ada4a4;
}

.search-form input::-ms-input-placeholder {
  color: #ada4a4;
}

.search-form input::placeholder {
  color: #ada4a4;
}

.search-form button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}
